.support-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    color: red;
}

.support-badge {
    &.support-active {
        background: #C8E6C9;
        color: #256029;
    }

    &.support-canceled {
        background: #FFCDD2;
        color: #C63737;
    }

    &.support-expired {
        background: #FEEDAF;
        color: #8A5340;
    }
}